/* CardList.css */

.card_area{
    width: 100%;
    max-width: 700px;
    min-width: 400px;
    height: auto; 
    min-height: 300px;
    padding: 1.5rem 1rem; 
    margin : 3rem auto;
    background-color: #fff;

    > h3 { 
        font-size: 1.5rem; 
        font-weight: 700;
        text-transform:capitalize; }
}

.card_wrap{
    display: flex;
    flex-wrap: wrap;
   /* justify-content: ;*/
    width: 100%; height: auto;
  
}

.card_wrap li{
    width: 250px; height: 350px;
    border: 1px solid #777; border-radius: 0.3rem;
}

.img_set{
    width: 100%; 
    height: 70%; 
    background-color: #ddd;
    border-radius: 0.3rem;
}

.img_set > img{
    width: 100%; 
    height: 100%;
    border-radius: 0.3rem;
}

.text_set > div{
    margin: 5px auto 5px auto;
}

.profile_img{
    display: inline-block;
    width: 22px; 
    height: 22px;
}

.profile_img > img{
    width: 100%; 
    height: 100%;
    border-radius: 50%;
}

.profile_text{
    display: inline-block;
    height: 22px;
}

.comment_set{
    width: 100%;
    height: 14px;
}

.star_icon{
    display: inline-block;
    width: 14px;
    height: 14px;
}

.star_icon > img{
    width: 100%; 
    height: 100%;
}