.card-img{
    width: 300px;
    height: 250px;
}

.card-list{
    display: flex;
    justify-content: space-between;
}
.card{
    margin-right: 20px;
}

.card:nth-child(4){
    margin-right: 0 !important;
}

.cardList-title{
    
    margin: 20px 0;
    font-size: 20px;
    line-height: 30px;
}

.like-box{
    display: flex;
}

.card-title-box{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.heart-btn{
    border: none;
    background-color: #ffffff;
    font-size: 28px;
    cursor: pointer;

}
