.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 900px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form input {
  width: 350px;
  height: 60px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-bottom: 3px;
  font-size: 18px;
}

.login-logo {
  width: 215px;
  margin-bottom: 25px;
}

.error-message {
  color: red;
}

.login-links {
  margin-top: 10px;
  font-size: 16px;
}

.login-links a {
  margin-right: 20px;
  text-decoration: none;
  color: #333;
}

.login-links a:last-child {
  margin-right: 0;
}

.login-button {
  width: 350px;
  height: 60px;
  border-radius: 5px;
  font-size: 22px;
  font-weight: 700;
  background-color: #ba7149;
  color: white;
  margin-top: 8px;
  line-height: 42px;
  padding: 0;
  border: none;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.login-button:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #ff6a10;
  transition: all 0.3s ease;
}

.login-button:hover {
  color: #ffd7c5;
}

.login-button:hover:after {
  top: 0;
  height: 100%;
}

.login-button:active {
  top: 2px;
}
