.resetPwd-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
}

.resetPwd-form input {
  width: 350px;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 8px;
  font-size: 18px;
}

.resetPwd-form p {
  font-size: 18px;
  color: #383838;
}

.resetPwd-button {
  width: 350px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  background-color: #ba7149;
  color: white;
  padding: 0;
  border: none;
}
