.profile-edit-form {
  width: 850px;
  height: 700px;
  margin-top: 60px;
  margin-left: 45px;
  display: flex;
  flex-direction: column;
  text-align: left; /* 왼쪽 정렬 */
  justify-content: flex-start;
  padding: 60px 0 50px 100px ;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
}
.profile-edit-input{
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.profile-edit-input input{
  padding-left: 10px;
}
.profile-edit-top {
  display: flex;
  justify-content: space-between;
}

.withDrawal {
  color:  #ff0000;
  font-weight: bold;
  font-size: 18px;
  margin-right: 50px;

}

.profile-edit-image, .profile-gender-input{
  margin-top: 60px;
}

.profile-gender-input label{
  margin-right: 100px !important;
}
.radio-man input,.radio-woman input{
  margin-right: 10px;
}
.formStyle {
  width: 530px;
}

.profile-edit-form label {
  font-size: 20px;
  margin-right: 30px;

}

.profile-edit-form h2 {
  font-size: 28px;
  font-weight: 800;
}

.profile-edit-form button {
  margin-top: 50px;
}

.box {
  width: 390px;
  height: 30px;
}

