.profile-container {
  width: 350px;
  height: 500px;
  margin-top: 60px;
  margin-left: 250px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center; /* 왼쪽 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  padding: 20px;
  border: 1px solid #d3d3d3;
  border-radius: 15px;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-items: center;
  border: 1px solid #d3d3d3;
}

.profile-image img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;

  margin-right: 20px;
}

.profile-info h2 {
  font-size: 30px;
  font-weight: 800;
}

.profile-info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.likes img {
  width: 15px;
  height: 15px;
}

.followers span {
  margin: 5px;
}

.followers {
  font-size: 15px;
  margin-top: 25px;
  text-align: center;
  align-items: center;
}

.likes span {
  font-size: 18px;
  margin-left: 10px;
}

.bio {
  font-size: 18px;
  margin-top: 25px;
}

.profile-info hr {
  width: 300px;
  margin-top: 20px;
}

.likes {
  margin-top: 20px;
}
