/* Signup.css */
.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 100px;
}

.signup-container h1 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  margin-bottom: 3px;
  font-size: 24px;
  font-weight: 700;
}

.signup-container hr {
  width: 370px;
  margin-top: 25px;
  margin-bottom: 35px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form label {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
}

.signup-form input {
  width: 370px;
  height: 40px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  margin-top: 3px;
  margin-bottom: 15px;
  font-size: 15px;
}

.emailCheck-button {
  width: 370px;
  height: 40px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 400;
  background-color: #ba7149;
  color: white;
  padding: 0;
  border: none;
  margin-bottom: 25px;
}

.signup-span {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #404040;
  width: 370px;
  margin-bottom: 3px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 8px;
}

.signup-span2 {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 370px;
  margin-top: 5px;
  font-size: 18px;
  font-weight: 600;
}

.signup-pets {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.signup-pets label {
  display: inline-block;
  line-height: 30px;
  width: 370px;
}

.signup-pets input {
  margin-right: 8px;
  width: 16px;
  height: 16px;
}

.signup-agree {
  display: flex;
  width: 370px;
  height: 180px;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}

.signup-agree label {
  margin: 2px;
  margin-left: 50px;
  font-size: 15px;
}

.signup-agree input {
  margin-right: 8px;
  width: 13px;
  height: 13px;
}

.signup-button {
  width: 370px;
  height: 50px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  background-color: #ba7149;
  color: white;
  padding: 0;
  border: none;
  margin-top: 25px;
}

.signup-button:hover {
  background-color: #000;
}

.signup-button:active {
  top: 2px;
}
