.searchInput{
    width: 500px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #999999;
}
input{
    font-size: 25px;
    font-weight: 100;
    padding: 5px;
}
input:focus{
    outline: 1.5px solid #999999;
}
input:focus::placeholder {
    color: transparent;
}
.searchBox{
    position: relative;
    width: 500px;
    display: flex;
    margin: 0 auto;
}
.searchImg{
    height: 35px;
}
.searchImg:hover{
    filter: invert(62%) sepia(87%) saturate(275%) hue-rotate(344deg) brightness(102%) contrast(98%);
}
#searchBtn{
    border: none;
    background-color: #ffffff;
    position: absolute;
    right: 15px;
    top: 7px;
    cursor: pointer;
}

